    <div class="cover">
      <div class="cover-image" style="background-image : url('../images/free-finance-books-760x463.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-muted" style="font-size:100px;">Extrack</h1>
            <p class="lead text-warning" style="font-size:40px; color:black">
              <b>An easy expense tracker. Manage your personal expenses effortlessly.</b>
            </p>
            <b>
              <br>
              <br>
              <a class="btn btn-lg btn-primary">Register to Start Using Today!</a>
            </b>
          </div>
          <b></b>
        </div>
        <b></b>
      </div>
      <b></b>
    </div>

